body {
    background-color:rgb(255, 248, 168);
    color: #fff;
    font-family: 'Segoe UI', sans-serif;
}
.form-container {
    max-width: 450px;
    margin: auto;
    margin-top: 50px;
    background-color:rgb(113, 165, 109);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}
.btn-info {
    background-color:rgb(55, 77, 53);
    border: none;
}
.btn-info:hover {
    background-color: #000000;
}


@media (max-width: 580px) {
    .form-container {
        padding: 20px;
        margin-top: 10px;
    }
    
    body {
        padding: 20px;
    }


    .btn-primary, .form-control {
        padding: 8px;
    }
}   